:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-color: #434455;
  --secondary-color: #2e2f42;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.adress {
  font-style: normal;
}
body {
  font-family: var(--primary-font);
  color: var(--primary-color);
  background: #fff;
}
/*================= Components======================= */
.logo {
  color: #4d5ae5;
  font-size: 18px;
  font-family: var(--secondary-font);
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.header-logo-color {
  color: #2e2f42;
}
/*================= Components======================= */
/* =================Header=========================== */
.header-nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #2e2f42;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: #404bbf;
}
.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--primary-color);
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
/* ========================Header===================== */
/* ==========================Hero==================== */
.hero {
  background: #2e2f42;
}
.hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}
.hero-modal-btn {
  color: #fff;
  font-size: 16px;
  font-family: var(--primary-font);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background: none#4D5AE5;
  cursor: pointer;
}
.hero-modal-btn:hover,
.hero-modal-btn:focus {
  background: #404bbf;
}
/* ==========================Hero==================== */
/*====================company philosophy ===========*/
.features-list-title {
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.features-list-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
/*====================company philosophy ===========*/
/* ===================Areas of work =================*/
.projects-title {
  color: var(--secondary-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
/* ===================Areas of work =================*/
/* ===================Team===========================*/
.team {
  background: #f4f4fd;
}
.team-title {
  color: var(--secondary-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.team-list-item {
  background: #fff;
}
.team-list-title {
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.team-list-profession {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--primary-color);
}
/* ===================Team===========================*/
/*====================== Clients======================= */
.clients-filter-btn {
  color: #4D5AE5;
  text-align: center;
  font-size: 16px;
  font-family: var(--primary-font)
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background: #F4F4FD;
  cursor: pointer;
}
.clients-filter-btn:hover,
.clients-filter-btn:focus {
background:#404BBF;
color: #FFF ;
}
.clients-filter-title {
color: var(--secondary-color);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;
}
.clients-filter-description {
color: var(--primary-color);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.32px;
}

/* =====================Clients========================= */
/* ===================Footer========================== */
.logo-footer {
  color: #4d5ae5;
  font-size: 18px;
  font-family: var(--secondary-font);
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.footer-logo-color {
  color: #f4f4fd;
}
.footer {
  background: var(--secondary-color);
}
.footer-description {
  color: #f4f4fd;
  font-size: 16px;
  font-family: Roboto;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
/* ===================Footer========================== */
